    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pad-right-zero" style="display: block; margin-bottom: 5px; "
        data-ng-repeat="item in params">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pad-zero">
            <label class="text-center"><strong>{{item.label}}</strong></label>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pad-zero" data-ng-switch on="item.inputType">
            <div data-ng-switch-when="text">
                <input id="item.id" data-ng-model="values[item.model]" 
                    type="text" class="form-control" style="width: 100%"
                    placeholder="{{item.placeholder}}"/>
            </div>
            <div data-ng-switch-when="email">
                <input id="item.id" data-ng-model="values[item.model]" 
                    type="text" class="form-control" style="width: 100%"
                    placeholder="{{item.placeholder}}"/>
            </div>
            <div data-ng-switch-when="date">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
                    alt-input-formats="altInputFormats" datepicker-options="dateOptions"
                    data-ng-model="values[item.model]" is-open="datepopup[item.id].opened" 
                    close-text="Close" data-ng-init="showDatePopupInit(item)" 
                    data-ng-focus="showDatePopup(item.id)" />
            </div>
            <div data-ng-switch-when="number">
                <input id="item.id" data-ng-model="values[item.model]" 
                    type="number" class="form-control" style="width: 100%"
                    placeholder="{{item.placeholder}}"/>
            </div>
            <div data-ng-switch-when="dropdown">
                <select id="item.id" data-ng-options="opt.id as opt.label for opt in item.options" 
                class="form-control" style="width: 100%" ng-model="values[item.model].id"
                data-ng-init="getOptionsList(item)"></select>
            </div>
        </div>
    </div>